.categories__container{
  margin: 22px auto;
  width: 280px;
  background: #f2f2f2;
  padding-bottom: 22px;
}
.categories__title{
  font-family: 'Oswald' , sans-serif;
  font-weight: 200;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 24px;
}
.categories__image{
  margin-top: 10px;
  background: #68b738;
  width: 47px;;
  height: 51px;
  border-radius: 100px;
  &::before
  {
        content: url('../img/slim.png');
        display: block;
        margin-left: 5px;
  }
}
.categories__head{
  margin-left: 5px;
  display: flex;
}
.categories__content{
  width: 240px;
  margin: 0 auto;
}
.categories__link{
  text-transform:uppercase ;
  font-family: 'Oswald' ;
  color:black;
  &::after{
    content:url('../img/arrow.png');
  }
 
}