
.preview{
    background:url('../img/bg.png') no-repeat;
    background-size: 100%;
}
.preview__container{
    margin: 0 auto;
    width: 280px;
    text-align: center;
}
.preview__title{
    font-family: 'Oswald' , sans-serif;
    color:#fff;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 32px;
    padding-top: 30px;
}
.preview__slogan{
    font-family: 'Oswald' , sans-serif;
    color:#d0ddc8;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
}
.preview__image{
    margin-top: 40px;
}
.preview__button{
    font-family: 'Oswald' , sans-serif;
    display: block;
    width: 258px;
    padding: 11px 11px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    bottom: -300px;;
    background-color: #68b738;
    transition: 1s;
}
.preview__button:hover{
    background-color: rgb(97, 206, 97);
}